@import url('https://fonts.googleapis.com/css?family=ABeeZee|Be Vietnam Pro|Saira Stencil One|Bayon');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Abeezee',sans-serif;
    font-size: 20px;
}
#wrapper{
    width: 1440px;
    height: 40px;
    background-color: black;
}
#header{
    width: 100%;
    padding-left:  22px;
    display: flex;
    justify-content: space-between;
}
#header .logo img{
    margin-top: 2px;
    border: 0 solid;
    border-radius:50%;
}
#menu {
    list-style: none;
    display: flex;
}
#menu .item{
    margin: 8px 20px;
    border: 1px solid ;
    width: 85px;
    height: 24px;
    box-shadow: 0 1px black;
}
#menu .item a{
    height: 24px;
    width: 89px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
#menu .item b{
    height: 24px;
    width: 89px;
    line-height: 24px;
    color: #3a64d0;
    text-decoration: none;
    border-bottom: 1px solid #3a64d0;
}
#menu .item a:hover{
    color: #3a64d0;
    
}
#menu .khoi{
    width: 228px;
    height: 40px;
    background-color: #F9D0AB;
    margin-left: 20px;
    padding: 8px 40px ;
    text-decoration: none;
    box-sizing: border-box;
    border: 0px solid #F9D0AB ;
    border-bottom-left-radius: 50px;
    font-size: 18px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
}
#menu .khoi a{
    color: black;
    text-decoration: none;
}
#banner{
    position: absolute;
    width: 1440px;
    height: 2202px;
    background-image: url("back.png");
    background-size: cover;
}
#banner .top h2{
    font-family: 'Saira Stencil One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 95px;
    line-height: 150px;
    align-items: center;
    color: white;
    margin: 52px 339px 52px 340px;
}

#banner .mid h3{
    width: 827px;
    height: 69px;
    margin-left: 306px;
    margin-right: 307px;
    margin-bottom: 120px;
    font-family: Bayon, sans-serif;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    float: right;
}
#banner .mid img{
    width: 930px;
    height: 496px;
    margin-left: 255px;
    margin-right: 255px;
    margin-bottom: 86px;
}
#banner .mid iframe{
    width: 930px;
    height: 496px;
    margin-left: 255px;
    margin-right: 255px;
    margin-bottom: 86px;
}
#banner .text h4{
    width: 238px;
    height: 54px;
    margin-left: 601px;
    margin-right: 601px;
    margin-bottom: 20px;
    font-family: Bayon, sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: white;
}

/* Footer */
#mail{
    display: flex;
    flex-direction: row;
    width: 1015px;
    height: 45px;
    margin: 0 auto;
    padding: 0 10px;
}
#mail .icon {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
#mail .icon i {
    font-size: 50px;
    color: #fff;
}
#mail input[type=email] {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
}
#mail .button {
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 11px 38px;
    text-decoration: none;
    background-color: #fff;
    color: #ea2222;
    border-radius: 50px;
    border: 1px solid #ea2222;
    margin-left: 30px;
    transition: transform 0.4s cubic-bezier(0.65, 0, 0.74, 0.99);
    z-index: 5;
}
#mail .button:hover {
    cursor: pointer;
}
#mail .button-text {
    display: block;
    position: relative;
    padding-right: 15px;
    transition: transform 0.4s cubic-bezier(0.65, 0, 0.74, 0.99);
    z-index: 5;
}
#mail .button-text:after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    transition: transform 0.4s cubic-bezier(0.65, 0, 0.74, 0.99);
}
#mail .button:hover .button-text:after {
    transform: translate(30px, -50%);
}
#mail .button:hover .button-text {
    transform: translateX(-3px);
}
#mail .button-bg {
    border: solid 2px #fb2600;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: left 0.4s cubic-bezier(0.65, 0, 0.74, 0.99);
}
#mail .button:hover .button-bg {
    left: calc(75%);
}
#emailModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    z-index: 10;
}
#modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: 270px;
    border-radius: 35px;
    text-align: center;
}
#wap{
    width: 1440px;
    margin-top: 2165px;
    padding: 3px 258px 3px 252px;
    background-color: black;
    position: absolute;
}
#footer{
    width: 930px;
    padding: 6px 133px;
    display: flex;
    justify-content: space-between ;
    text-align: center;
}
#footer .item a{
    color: white;
    font-size: 15px;
    font-family: AbeeZee, sans-serif;
    text-decoration: none;
}
#footer .logo i{
    color: white;
    font-size: 25px;
}